In [1]:
import re
import os 
from glob import glob
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

from scipy import integrate
from scipy import interpolate
from scipy.signal import find_peaks
from scipy.interpolate import interp1d
from scipy.signal import savgol_filter

In [61]:
path = 'C:\\PhD-Zipeng\\Research projects\\Organics\\Samples form Japan\\Indirect data-LF Xu\\No1\\data processing V2-insert points to PT\\PT@E_transposed.csv'
output_path = 'C:\\PhD-Zipeng\\Research projects\\Organics\\Samples form Japan\\Indirect data-LF Xu\\No1\\data processing V2-insert points to PT\\PT@E_transposed_200points.csv'
df = pd.read_csv(path,delimiter='\,')
i=0

PTE = pd.DataFrame()
T = np.linspace(319.12, 331.46, num=140, endpoint=True)
PTE.insert(len(PTE.columns), "T", T)


for row in df.iteritems():
    x = df.iloc[:,0]
    y = df.iloc[:,i]
    f = interp1d(x, y, fill_value="extrapolate",kind='next')
    PTE.insert(len(PTE.columns), str(i), f(T))
    i = i+1
    
print(PTE.shape)
PTE.head(5)

PTE.to_csv(output_path)

C:\Users\Dev\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

(140, 403)

,T,0,1,2,3,4,5,6,7,8,...,392,393,394,395,396,397,398,399,400,401
0,319.120000,319.12,-0.0363,-0.0362,-0.0362,-0.0361,-0.0361,-0.0360,-0.0360,-0.0359,...,0.0363,0.0363,0.0364,0.0364,0.0364,0.0364,0.0364,0.0364,0.0364,0.0364
1,319.208777,319.59,-0.0361,-0.0361,-0.0360,-0.0360,-0.0359,-0.0359,-0.0358,-0.0358,...,0.0362,0.0362,0.0362,0.0362,0.0363,0.0362,0.0362,0.0363,0.0363,0.0362
2,319.297554,319.59,-0.0361,-0.0361,-0.0360,-0.0360,-0.0359,-0.0359,-0.0358,-0.0358,...,0.0362,0.0362,0.0362,0.0362,0.0363,0.0362,0.0362,0.0363,0.0363,0.0362
3,319.386331,319.59,-0.0361,-0.0361,-0.0360,-0.0360,-0.0359,-0.0359,-0.0358,-0.0358,...,0.0362,0.0362,0.0362,0.0362,0.0363,0.0362,0.0362,0.0363,0.0363,0.0362
4,319.475108,319.59,-0.0361,-0.0361,-0.0360,-0.0360,-0.0359,-0.0359,-0.0358,-0.0358,...,0.0362,0.0362,0.0362,0.0362,0.0363,0.0362,0.0362,0.0363,0.0363,0.0362